node_modules
.next
.tmp
.git
.gitignore
.env*
!.env.local.example
.vercel
.DS_Store
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage
out
build
Dockerfile
compose*
README.md
